* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

// img {
// 	max-width: 100%;
// 	height: auto;
// }

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

.hidden{
	display: none;
}
.v-container{
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
	position: relative;
}

a{
	text-decoration: none;
}

.social{
	
	&__link{

		svg{
		height: 38px;
		width: 51px;}
	}
}
