.about{
	background: url('../images/about-bg.jpg') no-repeat top center;
	background-size: cover;
	padding: 60px 0;
	margin-bottom: 91px;
	&__info{
		background: $about;
		width: 48%;
		padding: 50px 100px;
		
	}
	&__text{
		font:14px $text;
		color: $font;
		p{
			padding-bottom: 20px;
		}
	}

	.icon {
		fill:$font;
	}

}
.social-about{
	text-align: center;
	color: $font;
}
@media only screen and (max-device-width: 768px) {
	.v-container-about{
	background: $about;}
	.about{
		background: $about;
	&__info{
		
		width: 100%;
		padding: 20px;
		
	}
	.icon {
		fill:$blue;
	}
	}

}