.footer{
	background: $blue;
	
	padding: 30px 0;
	&__text{
		display: inline-block;
		font:14px $text;
		color:#fff;

	}
	.icon{
		fill:#fff;
	}
}
// .v-container-footer{
// 	display: flex;
// 	justify-content: space-between;
// }
@media only screen and (max-device-width: 768px){
  .footer{
  	&__text{
  		margin-bottom: 30px;
  	}
   .social{
   
   }
  }
}