.galery{
	margin-bottom: 90px;
	// position: relative;
	&__title{
		text-align: center;
		font:24px $text;
		color:$font;
		margin-bottom: 40px;
	}
  &__img {
  width: 100%;
  height: 100%;
}
}

.wrapper {
  // background: #000;
  // opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100vh;
  // height: 100vh;
}
@media only screen and (max-device-width: 768px){
  .galery{
   margin-bottom: 0;
  margin:0 -15px;
  // margin-right: -15px;
  }
}