.header{
	height: 100vh;
	background: url('../images/header-bg.jpg') no-repeat top center ;
	background-size: cover;
	padding-top: 40px;
	margin-bottom: 60px;
	
	&__desc{
		width: 31%;
		margin: 0 auto;
		text-align: center;
		font:24px $header;
		color: #fff;
		margin-top: 125px;
	}
	.icon{
		fill:#fff;
	}
	&__navigation{
			display: none;
		}
	.hmenu{
		display: none;
		overflow: hidden;
	}
}
.logo{
	position: absolute;
	top:5px;
	left: 50%;
	margin-left: -92px;
}
@media only screen and (max-device-width: 768px){
	.header{
		background: url('../images/first_screen.jpg') no-repeat top center ;
		background-size: cover;
		margin-bottom: 0;
		&__desc{
			display: none;
		}
		.social{
			display:none;
		}
		.icon{
			display: none;
		}
		&__navigation{
			display: block;
    
		}
	}
}

