.header{
	
	background: url('../images/header-bg.jpg') no-repeat top center ;
	background-size: cover;
	padding-top: 40px;
	margin-bottom: 60px;
	
	&__desc{
		width: 31%;
		margin: 0 auto;
		text-align: center;
		font:24px $header;
		color: #fff;
		margin-top: 125px;
	}
	.icon{
		fill:#fff;
	}
	&__navigation{
			display: none;
		}
	.hmenu{
		display: none;
		overflow: hidden;
	}
}
.logo{
	width: 185px;
	height: 80px;
	position: absolute;
	top:5px;
	left: 50%;
	margin-left: -92px;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    font-family: $text;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: $about;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav{
    display: none;
}
@media only screen and (min-device-width: 768px){
	.header{
		height: 100vh;
	}
}

@media only screen and (max-device-width: 768px){
	.header{
		background: url('../images/first_screen.jpg') no-repeat top center;
		background-size: cover;
		height: 233px;
		width: 100%;
		margin-bottom: 0;
		&__desc{
			display: none;
		}
		.social{
			display:none;
		}
		.topnav{display: block;}
		.topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
    margin-top: -10px;
  }
  .topnav.responsive {
  	position: relative;
  	background: $about;
  	z-index:2;
  }
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    color:$font;
	}
	.logo{
    	margin-left: -77px;
		width: 155px;
		height: 55px;
	}
}

}
// @media only screen and (max-device-width: 420px){
// 	.header{
// 	background: url('../images/first_screen_mobile.jpg') no-repeat top center;
// 		background-size: cover;
// 		height: 233px;
// 		width: 100%;
// 		margin-bottom: 0;}
// }
