.order{
	margin-bottom: 155px;

	&__title{
		text-align: center;
		font:24px $text;
		color:$font;
		margin-bottom: 40px;
	}
	&__form{
		width: 70%;
		margin: 0 auto;
	}
	&__btn{
		font:24px/1.3 $text;
		padding: 8px 43px;
		color: $blue;
		background:#fff;
		border: 1px solid $blue;
		cursor: pointer;
		display: flex;
		align-self: center;
		
	}

	&__btn:hover{
		background: $blue;
		color: #fff;
		transition: all .2s;

	}
}

.field{
	display: flex;
	flex-direction: column;
	&__label{
		font:14px $text;
		color: $font;
		margin-bottom: 20px;
	}
	&__item{
		font:14px/1.2 $text;
		border-bottom: 1px solid $font;
	}
	&__item:hover{
		border: 1px solid $about;
		transition: all .1s;
	}
	&__item:focus{
		border:1px solid $font;
	}
}
.propositions{
	border:1px solid $font;
	width: 100%;
	margin-bottom: 50px;
	font:14px $text;
		color: $font;
}
.data{
	margin-bottom: 50px;
}
@media only screen and (max-device-width: 768px){
	.order{
		margin-bottom: 50px;
	}
}