.price{
	margin-bottom: 110px;
	&__title{
		text-align: center;
		font:24px $text;
		color:$font;
		margin-bottom: 40px;
	}
	&__items{
		margin: 0 auto;

	}
	&__wrap{
		font:24px $text;
		color:$font;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 15px;
		
	}

	&__wrap:hover{
		color:$blue;
		border:1px solid $blue;
		transform: scale(1.05);
		z-index: 1;
		background: #fff;
		transition: all .3s;
	}
	&__img{
		width: 100%;
		margin-bottom: 33px;
	}
	&__number{
		display: inline-block;
	}
	&__desc{
		display: inline-block;
		text-align: center;
	}

}